# Base
python-dotenv

# Extraction CVs
pymupdf

# Extraction Jobs
python-docx

# LLM — Mistral Large
langchain-mistralai
langchain-core

# Génération données synthétiques
faker
reportlab

# Weaviate
weaviate-client==3.26.7

# Interface Streamlit
streamlit

# Requêtes HTTP
requests

# Scraping LinkedIn
selenium
webdriver-manager
beautifulsoup4
lxml

# Parsing HTML
html5lib